<a href="https://colab.research.google.com/github/tn-220/EmergingClass/blob/main/Class02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Simple Python

In the class A, students' heights are:

161.5
165.9
168.7
163.1
170.8
167.2

In the class B, students' heights are:

172.5
162.9
161.7
160.1
161.8
169.2

The class A and the class B are joined together to form the class AB. Write a code to calculate the mean height by using Python 'list' and 'for' loop

Write a python code to sort the heights of the class AB.

 The class C is formed with students with the height less than 165. Make a list 'C' containing the heights of the class C.

The class D is formed with students with the height larger than 160 and less than 170. Make a list containing the heights of the class D.

Use a lambda function and map() to answer the following questions.
1). Add 1 to each element of the list 'a' and create another list.

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In the following list of names, extract only those stargin with 'J'. Show the result as a list.

a = ['Sara', 'Jack', 'Rebecca', 'Jennifer', 'Paul', 'Andrew', 'John']

Code the class named 'Calculator' that outputs the result as shown.

calc1 = Calculator(5,3)


print(calc1.sum())

print(calc1.subtract())

print(calc1.product())

print(calc1.divide())


8

2

15

1.6666666666666667

Write function named 'palindrome' to test whether the entered word or sentence is a palindrome.
Ignore capitalization, spaces, punctuation marks, symbols, etc. This code should be written with simple python without importing any libraries

Palindrome examples:

mom

wow

noon

level

radar

kayak

racecar

God's dog

Madam, I'm Adam

#Example from pandas, numpy, and matplotlib libraries

Write a python code that generates 1000 random number between -5 and 5 with normal distribution and then plot them:

Read in the data:

!wget --no-clobber https://raw.githubusercontent.com/tn-220/EmergingClass/main/data_studentlist.csv

df = pd.read_csv('data_studentlist.csv', header='infer')

df.head(5)

**Answer the following questions using Pandas library.**

1) Average height of the male students:

2) Average height of the female students:

3) Average weight of the male students:

4) The tallest height among the male students:

5) The average grade of students with absence ('Y'):

6) Average age of the students with absence ('Y') whose grade is equal or larger than 3:

Use pandas and numpy for following:

Read in the data.

!wget --no-clobber https://raw.githubusercontent.com/tn-220/EmergingClass/main/data_census.csv

df = pd.read_csv('data_census.csv', header='infer')

df.shape

df.head(10)

**Answer the following questions using Pandas library.**

1) Total population of ProvinceCode equal to 115 and 116:

2) Average population of the cities where there are more males (GenderRatio >1:


3) Places with more males (GenderRatio >1) and less than 2 persons per household:


4) Sort the DataFrame in ascending order of the 'Households'. Show the top 10.

###Import pandas, numpy , and mathplotlib

Read in the data.
!wget --no-clobber https://raw.githubusercontent.com/tn-220/EmergingClass/main/data_coffeeshop.csv

**Answer the following questions.**

1) Make a frequency table of 'yearOfStart' and visualize by year.


* Sort by the year.

* Draw a line plot from 1997 to 2014. <= Hint: plt.xlim()

2) Now, split the data by the current state of business ('In' or 'Out' of business). Then, visualize the yearly trend of the 'yearOfStart' frequencies.

* Sort by the year.
* Draw two overlapping line plots from 1997 to 2014.
* Use the 'figure' object.

3) From the results of 1) and 2), how can you describe the trend in general?

* Around the year 2008, began a steep increase in the number of new coffee shops.
* As of the year 2014, more coffee shops opened in the past 5 years are still in business rather than going out of business.